<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body ng-app="myAp" ng-controller="EditControll">

    <h1>Edit User</h1>

    <p>User ID: {{ userId }}</p>
    <input type="text" ng-model="inputtext" />
    <button ng-click="send()">send</button>
    
    <script>
        var app = angular.module('myAp');

        app.controller('EditControll', function ($scope, $routeParams, $http) {
            var userId = $routeParams.userId;

            $scope.userId = userId;
            
            $scope.send = function () {
                alert("happy");
            }
        });
    </script>
</body>
</html>
