<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
    <form name="myForm">
        <div ng-repeat="item in items">
            <input type="text" ng-model="item.name" placeholder="Name">
            <input type="text" ng-model="item.workingHours" placeholder="Working Hours">
            <input type="radio" ng-model="item.radioValue" ng-value="10"> 10
            <input type="radio" ng-model="item.radioValue" ng-value="20"> 20
            <input type="text" ng-model="item.radioValue" placeholder="Amount">
            <button ng-click="removeItem($index)">Remove</button>
        </div>
        <button ng-click="addItem()">Add Input</button>
        <br>
        <pre>{{ items | json }}</pre>
    </form>

    <script>
        angular.module('myApp', [])
            .controller('myCtrl', function ($scope) {
                $scope.items = [];

                $scope.addItem = function () {
                    $scope.items.push({
                        name: '',
                        workingHours: '',
                        radioValue: '',
                    });
                };

                $scope.removeItem = function (index) {
                    $scope.items.splice(index, 1);
                };
            });
    </script>
</body>
</html>
