<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Employee Form</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;500;600;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap"
            rel="stylesheet"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </head>
    <body ng-app="myApp" ng-controller="appCtrl">
        <div class="container">
            <div ng-show="showalert" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Data Submitted!</strong> successfully.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div ng-show="showalertt" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Something went wrong!</strong> Please try later.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form ng-show="show" class="row" name="myForm" novalidate ng-submit="myForm.$valid && sendForm()">
                <h1 class="heading">Add an Employee</h1>
                <div class="college-form col-md-4">
                    <label>Firstname*: </label> <br>
                    <input ng-minlength=3 ng-pattern="/^[a-zA-Z- ]*$/" class="text-input" name="userFirstName" ng-model="insert.userFirstName" required type="text"> <br>
                    <span style="color:red" ng-show="myForm.$submitted && myForm.userFirstName.$error.required">Firstname is required.</span>
                    <span style="color:red" ng-show="myForm.userFirstName.$error.minlength && !myForm.userFirstName.$error.pattern">Minimum 3 characters required.</span>
                    <span style="color:red" ng-show="myForm.userFirstName.$error.pattern">Name can have only alphabets.</span>
                </div>

                <div class="college-form col-md-4">
                    <label>Middle Name*: </label> <br>
                    <input ng-minlength=3 ng-pattern="/^[a-zA-Z- ]*$/" class="text-input" name="userMiddleName" ng-model="insert.userMiddleName" required type="text"> <br>
                    <span style="color:red" ng-show="myForm.$submitted && myForm.userMiddleName.$error.required">Middlename is required.</span>
                    <span style="color:red" ng-show="myForm.userMiddleName.$error.minlength && !myForm.userMiddleName.$error.pattern">Minimum 3 characters required.</span>
                    <span style="color:red" ng-show="myForm.userMiddleName.$error.pattern">Name can have only alphabets.</span>
                </div>

                <div class="college-form col-md-4">
                    <label>Last Name*: </label> <br>
                    <input ng-minlength=3 ng-pattern="/^[a-zA-Z- ]*$/" class="text-input" name="userLastName" ng-model="insert.userLastName" required type="text"> <br>
                    <span style="color:red" ng-show="myForm.$submitted && myForm.userLastName.$error.required">Lastname is required.</span>
                    <span style="color:red" ng-show="myForm.userLastName.$error.minlength && !myForm.userLastName.$error.pattern">Minimum 3 characters required.</span>
                    <span style="color:red" ng-show="myForm.userLastName.$error.pattern">Name can have only alphabets.</span>
                </div>

                <div class="college-form col-md-4">
                    <label>SSN*: </label> <br>
                    <input name="userssn" ng-model="insert.userssn" required class="text-input" type="text" placeholder=""> <br>
                    <span style="color:red" ng-show="myForm.$submitted && (myForm.userssn.$error.required || myForm.userssn.$error.userssn)">
                        <span ng-show="myForm.userssn.$error.required">ssn is required.</span>
                    </span>
                </div>

                <div class="college-form col-md-4">
                    <label>Mobile No*: </label> <br>
                    <input ng-minlength=6 ng-maxlength=10 ng-pattern="/^[6-9][0-9]*$/" class="text-input" name="cell" ng-model="insert.cell" required type="text" placeholder="Cell"> <br>
                    <span style="color:red" ng-show="myForm.$submitted && myForm.cell.$error.required">MobileNo. is required.</span>
                    <span style="color:red" ng-show="myForm.cell.$error.pattern">Phone number can have only digits & should start with 6/7/8/9.</span>
                    <span ng-show="!myForm.cell.$error.pattern && myForm.cell.$error.minlength" style="color:red">Minimum 6 digits required.</span>
                    <span ng-show="!myForm.cell.$error.pattern && myForm.cell.$error.maxlength" style="color:red">Maximum 10 digits allowed.</span>
                </div>

                <div class="college-form col-md-4">
                    <label>Email*: </label> <br>
                    <input class="text-input" ng-pattern= "/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                           name="email" ng-model="insert.email" required type="email" placeholder="*Email"><br>
                    <span style="color:red" ng-show="myForm.$submitted && myForm.email.$error.required">Email is required.</span>
                    <span ng-show="myForm.email.$error.pattern" style="color:red">Email has to be in format of abc@gmail.com.</span>
                </div>

                <div class="college-form col-md-4">
                    <label>Gender*: </label><br>
                    <input name="myVar" id="male" type="radio" ng-model="insert.myVar" value="male" required>
                    <label for="male" class="radio-label">Male</label> <br>
                    <input name="myVar" id="female" type="radio" ng-model="insert.myVar" value="female" required>
                    <label for="female" class="radio-label">Female</label> <br>
                    <input name="myVar" id="other" type="radio" ng-model="insert.myVar" value="other" required> 
                    <label for="other" class="radio-label">Other</label> <br>
                    <span style="color:red" ng-show="myForm.$submitted && (myForm.myVar.$error.required || myForm.myVar.$error.myVar)">
                        <span ng-show="myForm.myVar.$error.required">Select gender</span>
                    </span>
                </div>

                <div class="college-form col-md-4">
                    <label>Designation*: </label> <br>
                    <input ng-pattern="/^[a-zA-Z- ]*$/" class="text-input" name="role" ng-model="insert.role" required type="text" placeholder="Job role"> <br>
                    <!-- <span style="color:red" ng-show="myForm.$submitted && (myForm.role.$error.required || myForm.role.$error.role)"> -->
                    <span style="color:red" ng-show="myForm.$submitted && myForm.role.$error.required">Designation is required.</span>
                    <span style="color:red" ng-show="myForm.role.$error.pattern">Designation can have only alphabets.</span>
                    <!-- </span> -->
                </div>

                <div class="college-form col-md-4">
                    <label>DOB*: </label> <br>
                    <input class="text-input" name="dob" ng-model="insert.dob" required type="date"> <br>
                    <span style="color:red" ng-show="myForm.$submitted && (myForm.dob.$error.required || myForm.dob.$error.dob)">
                        <span ng-show="myForm.dob.$error.required">DOB is required.</span>
                    </span>
                </div>

                <div class="college-form col-md-4">
                    <label>Address*: </label> <br>
                    <textarea ng-maxlength=50 class="text-input" name="area" ng-model="insert.area" required rows="2" cols="25"></textarea> <br>
                    <span style="color:red" ng-show="myForm.$submitted && myForm.area.$error.required">Address is required.</span>
                    <span ng-show="formname.message.$error.maxlength" style="color:red">Maximum length of address is 50 characters.</span>
                </div>

                <div class="college-form col-md-4">
                    <label>City*: </label> <br>
                    <input ng-pattern="/^[a-zA-Z- ]*$/" class="text-input" name="town" ng-model="insert.town" required type="text"> <br>
                    <!-- <span style="color:red" ng-show="myForm.$submitted && (myForm.town.$error.required || myForm.town.$error.town)"> -->
                    <span style="color:red" ng-show="myForm.$submitted && myForm.town.$error.required">City is required.</span>
                    <span style="color:red" ng-show="myForm.town.$error.pattern">City name can have only alphabets.</span>
                    <!-- </span> -->
                </div>

                <div class="college-form col-md-4">
                    <label>State:* </label> <br>
                    <input ng-pattern="/^[a-zA-Z- ]*$/" class="text-input" name="state" ng-model="insert.state" required type="text"> <br>
                    <!-- <span style="color:red" ng-show="myForm.$submitted && (myForm.state.$error.required || myForm.state.$error.state)"> -->
                    <span style="color:red" ng-show="myForm.$submitted && myForm.state.$error.required">State is required.</span>
                    <span style="color:red" ng-show="myForm.state.$error.pattern">State name can have only alphabets.</span>
                    <!-- </span> -->
                </div>

                <div class="college-form col-md-4">
                    <label>Pincode: </label> <br>
                    <input ng-minlength=6 ng-maxlength=6 ng-pattern="/^[0-9]*$/" class="text-input" name="pincode" ng-model="insert.pincode" type="text"> <br>
                    <span style="color:red" ng-show="myForm.$submitted && myForm.pincode.$error.required">Pincode is required.</span>
                    <span style="color:red" ng-show="myForm.pincode.$error.pattern && !myForm.pincode.$error.maxlength">Pincode can have only digits.</span>
                    <span ng-show="!myForm.pincode.$error.pattern && myForm.pincode.$error.minlength" style="color:red">Minimum 6 digits required.</span>
                    <span ng-show="!myForm.pincode.$error.pattern && myForm.pincode.$error.maxlength" style="color:red">Maximum 6 digits allowed.</span>
                    <span style="color:red" ng-show="myForm.pincode.$error.pattern && myForm.pincode.$error.maxlength">Pincode can have only digits and it can be only 6digits</span>
                </div>

                <div class="col-md-4 mt-1 pt-2">
                    <label>Upload your photo: </label> <br>
                    <input class="mb-0" type="file" style="background-color: white;" >
                    <!-- <span style="color:red" ng-show="myForm.$submitted && (myForm.userssn.$error.required || myForm.userssn.$error.userssn)">
                        <span ng-show="myForm.userssn.$error.required">ssn is required.</span>
                    </span> -->
                </div>

                <hr class="m-2 mt-3">
                <div class="wrapper mt-2">
                    <div class="pt-2 row" ng-repeat="employee in employees">

                        <div class="col-md-4">
                            <label>Full Name: </label> <br>
                            <input ng-model="employee.fullname  " name="fullname{{$index}}" ng-minlength=5 ng-pattern="/^[a-zA-Z- ]*$/" type="text" required> <br>
                            <span style="color:red" ng-show="myForm.$submitted && myForm.fullname{{$index}}.$error.required">Fullname is required.</span>
                            <span style="color:red" ng-show="myForm.fullname{{$index}}.$error.minlength && !myForm.fullname{{$index}}.$error.pattern">Minimum 5 characters required.</span>
                            <span style="color:red" ng-show="myForm.fullname{{$index}}.$error.pattern">Name can have only alphabets.</span>
                        </div>

                        <div class="col-md-4">
                            <label>Working type:&nbsp; </label> <br>
                            <input  ng-change="updateAmount(employee)" name="working{{$index}}" ng-value="10" value="daily" id="dailywork{{$index}}" type="radio" ng-model="employee.working" required> 
                            <label for="dailywork{{$index}}" class="radio-label">Daily &nbsp;</label>
                            <input  ng-change="updateAmount(employee)" name="working{{$index}}" ng-value="20" value="weekly" id="weeklywork{{$index}}" type="radio" ng-model="employee.working" required>
                            <label for="weeklywork{{$index}}" class="radio-label"> Weekly  </label> <br>
                            <span style="color:red" ng-show="myForm.$submitted && myForm.working{{$index}}.$error.required">
                                Select working type
                            </span>
                        </div>
                        <div class="col-md-4"></div>

                        <div ng-show="employee.showus" class="row">
                            <div class="col-md-4 mt-4">
                                <label>Working hours: </label>&nbsp; <br>
                                <input min="0" type="text" ng-model="employee.hours">
                            </div>

                            <div class="mt-4 col-md-4">
                                <label>Amount: </label>&nbsp; <br>
                                <input min="0" type="number" ng-model="employee.amount">
                                <span style="color:red;" ng-bind="employee.dailyWage"></span>
                            </div>

                            <div class="mt-4 col-md-4">
                                <label>Total Amount: </label>&nbsp; <br>
                                <input ng-model="employee.hours*employee.amount" type="number" readonly>
                            </div>
                        </div>

                        <a style="width: 70%;" href="#" class="removeField mt-1" ng-click="removeContactField($index)">Remove</a>
                        <hr class="m-2 mt-1">
                    </div>
                    <a href="#" id="addField" ng-click="addWorkingDetails()"><button type="button" class="btn btn-primary mt-1">Add Working hours</button></a>
                </div>
                <h3 class="pt-2">Total: {{ getTotal() }}</h3>
                <div class="button-container col-12 mt-0">
                    <button style="width: 100px;" type="submit" class="btn btn-secondary col-12">SUBMIT</button> 
                </div>
        
            </form>
        </div>

        <!-- <pre>{{ employees | json }}</pre> -->

        <script>
            var app = angular.module('myApp', []);
            app.controller('appCtrl', function($scope,$window,$http,$timeout) {
                $scope.insert = {};
                $scope.show = true;

                $scope.employees = [];
                $scope.addWorkingDetails = function(){
                    $scope.employees.push({
                        fullname: '',
                        working: 0,
                        hours: 0,
                        amount: 0,
                        showus: false,
                        fullAmount: 0
                    });  
                };
                $scope.updateAmount = function (employee) {
                    if (employee.working === 10 || employee.working === 20){
                        employee.hours = employee.working;
                   
                    } else {
                        employee.hours = ''; // Clear the amount if neither radio button is selected
                    }
                    employee.showus = true;
                };
                $scope.getTotal = function(){
                    var total = 0;
                    for(var i = 0; i < $scope.employees.length; i++){
                        var product = $scope.employees[i];
                        total += (product.hours * product.amount);
                    }
                    return total;
                }
                $scope.removeContactField = function(index){ 
                    $scope.employees.splice( index, 1 );
                };
                
                var requestData = {
                    formData: $scope.insert,
                    employees: $scope.employees 
                };
                // console.log(requestData.formData)
                // console.log(requestData.employees)

                $scope.sendForm = function () {
                    $http({
                        method: 'POST',
                        url: 'insert.php',
                        // data:$scope.insert,
                        data: requestData,
                    }).then(function (data){
                        // $scope.successInsert = data.data.message + "Successfully";
                        $scope.suc = data.data.message + "Successfully";
                        // window.alert($scope.successInsert);
                        $scope.showalert = true;
                        $timeout(function () {
                            $scope.showalert = false;
                        }, 4000);
                        $scope.insert = {};
                    },function (error){
                        // console.log(error, 'can not post data.');
                        // window.alert(data.error.message , 'can not post data.');
                        $scope.err= error.statusText + "  Please try later"
                        // $scope.showalertt = true;
                        
                    });
                };
            });
        </script>
    </body>
</html>